<div class="animated fadeIn">
  <br/>

  <div class="col-12">
    <div class="form-control" style="height:auto !important">
      <div class="row">
        <div class="col-4 form-group">
          <div class="col-6">
            <label>Eu mesmo? </label>
          </div>
          <div class="col-6">
            <label class="switch switch-3d switch-primary">
            <input type="checkbox" [disabled]="listaDependentes.length == 0" [(ngModel)]="pesquisaEuMesmo" class="switch-input" checked>
            <span class="switch-slider"></span>
          </label>
          </div>

        </div>
        <div class="col-8 row">
          <div class="col-2">
            <label>Dependente :</label>
          </div>
          <div class="col-6">
            <select [disabled]="pesquisaEuMesmo || listaDependentes.length == 0" [(ngModel)]="dependenteSelecionado" class="form-control" [ngModelOptions]="{standalone: true}">
                  
                  <option selected [ngValue]="null">Selecione o dependente</option>						
                  <option *ngFor="let c of listaDependentes" [ngValue]="c">{{c.nome}}</option>
                  </select>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <div class="form-inline">
            <div class="col-2">
              <button class="btn btn-primary" (click)="consultar()"> Consultar </button>
            </div>
            <div class="col-10">
              <button class="btn btn-primary" style="float:right" (click)="cadastroShow()"> Cadastrar </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div *ngIf="isCadastrando" class="col-12" style="text-align: center; ">
    <div class="row">
      <div class="col-3"></div>
      <div class="form-control col-6" style="height:auto !important;">
        <div class="mb-3">

          <select [(ngModel)]="vacinaSelecionada" class="form-control" [ngModelOptions]="{standalone: true}">
                            
                            <option selected [ngValue]="null">Selecione a vacina</option>						
                            <option *ngFor="let v of listaVacinasDrop" [ngValue]="v">{{v.nome}}</option>
                            </select>
        </div>
        <div class="mb-3">
          <label style="float: left;">Data de vacinação: </label>

          <input type="date" class="form-control" [(ngModel)]="vacinaCadastro.Data" placeholder="Data vacina">
        </div>
        <div class=" mb-3">
          <label style="float: left;">Lote: </label>
          <input type="text" class="form-control" [(ngModel)]="vacinaCadastro.Lote" placeholder="Lote vacina">
        </div>
        <div class=" mb-3">
          <label style="float: left;">Dose: </label>
          <input type="text" class="form-control" [(ngModel)]="vacinaCadastro.Dose" placeholder="Dose vacina">
          <small>Caso seja dose única informe 0.</small>
        </div>

        <div class="row">

          <div class="col-12 mb-3">
            <button class="btn btn-primary" style="float:right" (click)=" cadastrar()"> Salvar </button>
          </div>
        </div>

      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <br/>

  <div class="row" *ngIf="listaVacinasPaciente.length > 0 && isCadastrando">
    <div class="col-3"></div>
    <div class="form-control col-6" style="height:auto !important;">
      <ul>
        <li *ngFor="let dp of listaVacinasPaciente">
          <div class="row">
            <div class="col-8">
              <label>Nome: {{dp.nome}} </label>
              <br/>
              <label>Lote: {{dp.lote}} </label>
              <br/>
              <label>Data: {{dp.data}} </label>
              <br/>
              <label>Dose: {{dp.dose}} </label>
            </div>
            <div class="col-4" style="text-align:end;">
              <button class="btn btn-primary" title="Editar"><i class="fa fa-pencil"></i></button>
              &nbsp;
              <button class="btn btn-danger" title="Remover" (click)=" deletarVacina(dp._id)"><i class="fa fa-trash"></i></button>
            </div>
          </div>

        </li>
      </ul>
    </div>
    <div class="col-3"></div>
  </div>

  <div *ngIf="listaVacinasPaciente.length == 0 && !isCadastrando" class="col-12">
    <div class="form-control" style="height:auto !important;">
      <div style="text-align: center; ">
        <i class="fa fa-exclamation fa-lg mt-4"></i>
      </div>
      <div style="text-align: center; ">
        <label><strong>Não existem vacinas cadastradas.</strong></label>
      </div>
    </div>
  </div>
  <div *ngIf="listaVacinasPaciente.length > 0 && !isCadastrando" class="col-12">


    <div class="card">
      <div class="card-header">
        Nome Paciente: {{nomePaciente}}
      </div>
      <div class="card-body">

        <div class="row">
          <div class="column col-3" style="background-color:#aaa;">
            <h5 *ngIf="AntimeningococicaCConjugada.EmAtraso == false"><strong>Nome:</strong> {{AntimeningococicaCConjugada.Nome}} </h5>
            <h5 *ngIf="AntimeningococicaCConjugada.EmAtraso == true" style="color:red;"><strong>Nome:</strong> Antimeningocócica C conjugada </h5>
            <h5><strong>Lote:</strong> {{AntimeningococicaCConjugada.Lote}}</h5>
            <h5><strong>Dose:</strong> {{AntimeningococicaCConjugada.Dose}}</h5>
            <h5><strong>Data:</strong> {{AntimeningococicaCConjugada.Data}}</h5>
          </div>
          <div class="column col-3" style="background-color:#bbb;">
            <h5 *ngIf="Antipneumococica10ValenteConjugada.EmAtraso == false"><strong>Nome:</strong> {{Antipneumococica10ValenteConjugada.Nome}} </h5>
            <h5 *ngIf="Antipneumococica10ValenteConjugada.EmAtraso == true" style="color:red;"><strong>Nome:</strong> Antipneumocócica 10 valente conjugada</h5>
            <h5><strong>Lote:</strong> {{Antipneumococica10ValenteConjugada.Lote}}</h5>
            <h5><strong>Dose:</strong> {{Antipneumococica10ValenteConjugada.Dose}}</h5>
            <h5><strong>Data:</strong> {{Antipneumococica10ValenteConjugada.Data}}</h5>
          </div>
          <div class="column col-3" style="background-color:#aaa;">
            <h5 *ngIf="BCGID.EmAtraso == false"><strong>Nome:</strong> {{BCGID.Nome}} </h5>
            <h5 *ngIf="BCGID.EmAtraso == true" style="color:red;"><strong>Nome:</strong> BCG-ID </h5>
            <h5><strong>Lote:</strong> {{BCGID.Lote}}</h5>
            <h5><strong>Dose:</strong> {{BCGID.Dose}}</h5>
            <h5><strong>Data:</strong> {{BCGID.Data}}</h5>

          </div>
          <div class="column col-3" style="background-color:#bbb;">
            <h5 *ngIf="DTP.EmAtraso == false"><strong>Nome:</strong> {{DTP.Nome}} </h5>
            <h5 *ngIf="DTP.EmAtraso == true" style="color:red;"><strong>Nome:</strong> DTP(tríplice bacteriana) </h5>
            <h5><strong>Lote:</strong> {{DTP.Lote}}</h5>
            <h5><strong>Dose:</strong> {{DTP.Dose}}</h5>
            <h5><strong>Data:</strong> {{DTP.Data}}</h5>

          </div>

        </div>
        <br/>
        <div class="row">
          <div class="column col-3" style="background-color:#aaa;">
            <h5 *ngIf="FebreAmarela.EmAtraso == false"><strong>Nome:</strong> {{FebreAmarela.Nome}} </h5>
            <h5 *ngIf="FebreAmarela.EmAtraso == true" style="color:red;"><strong>Nome:</strong> Febre Amarela </h5>
            <h5><strong>Lote:</strong> {{FebreAmarela.Lote}}</h5>
            <h5><strong>Dose:</strong> {{FebreAmarela.Dose}}</h5>
            <h5><strong>Data:</strong> {{FebreAmarela.Data}}</h5>

          </div>
          <div class="column col-3" style="background-color:#bbb;">
            <h5 *ngIf="HepatitieB.EmAtraso == false"><strong>Nome:</strong> {{HepatitieB.Nome}} </h5>
            <h5 *ngIf="HepatitieB.EmAtraso == true" style="color:red;"><strong>Nome:</strong> Hepatitie B </h5>
            <h5><strong>Lote:</strong> {{HepatitieB.Lote}}</h5>
            <h5><strong>Dose:</strong> {{HepatitieB.Dose}}</h5>
            <h5><strong>Data:</strong> {{HepatitieB.Data}}</h5>

          </div>
          <div class="column col-3" style="background-color:#aaa;">
            <h5 *ngIf="SRC.EmAtraso == false"><strong>Nome:</strong> {{SRC.Nome}} </h5>
            <h5 *ngIf="SRC.EmAtraso == true" style="color:red;"><strong>Nome:</strong> SRC (tríplice viral, MMR) </h5>
            <h5><strong>Lote:</strong> {{SRC.Lote}}</h5>
            <h5><strong>Dose:</strong> {{SRC.Dose}}</h5>
            <h5><strong>Data:</strong> {{SRC.Data}}</h5>

          </div>
          <div class="column col-3" style="background-color:#bbb;">
            <h5 *ngIf="Tetravalente.EmAtraso == false"><strong>Nome:</strong> {{Tetravalente.Nome}} </h5>
            <h5 *ngIf="Tetravalente.EmAtraso == true" style="color:red;"><strong>Nome:</strong> Tetravalente (DTP + Hib) </h5>
            <h5><strong>Lote:</strong> {{Tetravalente.Lote}}</h5>
            <h5><strong>Dose:</strong> {{Tetravalente.Dose}}</h5>
            <h5><strong>Data:</strong> {{Tetravalente.Data}}</h5>

          </div>

        </div>
        <br/>

        <div class="row">
          <div class="column col-3" style="background-color:#aaa;">
            <h5 *ngIf="VOP.EmAtraso == false"><strong>Nome:</strong> {{VOP.Nome}} </h5>
            <h5 *ngIf="VOP.EmAtraso == true" style="color:red;"><strong>Nome:</strong> VOP(vacina oral contra a poliomelite - Sabin) </h5>
            <h5><strong>Lote:</strong> {{VOP.Lote}}</h5>
            <h5><strong>Dose:</strong> {{VOP.Dose}}</h5>
            <h5><strong>Data:</strong> {{VOP.Data}}</h5>

          </div>
          <div class="column col-3" style="background-color:#bbb;">
            <h5 *ngIf="VORH.EmAtraso == false"><strong>Nome:</strong> {{VORH.Nome}} </h5>
            <h5 *ngIf="VORH.EmAtraso == true" style="color:red;"><strong>Nome:</strong> VORH (vacina oral contra rotavírus humano) </h5>
            <h5><strong>Lote:</strong> {{VORH.Lote}}</h5>
            <h5><strong>Dose:</strong> {{VORH.Dose}}</h5>
            <h5><strong>Data:</strong> {{VORH.Data}}</h5>

          </div>


        </div>

      </div>
    </div>
  </div>
  <br/>

</div>