<div class="animated fadeIn">
  <br />
  <div *ngIf="listaAtraso.length == 0" class="col-12">
    <div class="row">
      <div class="col-3"></div>
      <div class="form-control col-6" style="height:auto !important;">
        <div style="text-align: center; ">
          <i class="fa fa-exclamation fa-lg mt-4"></i>
        </div>
        <div style="text-align: center; ">
          <label><strong>Não existem pacientes com vacinas em atraso.</strong></label>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <div *ngIf="listaAtraso.length > 0" class="col-12">
    <div class="row">
      <div class="col-3"></div>
      <div class="form-control col-6" style="height:auto !important;">
        <h4>Pacientes com vacinas em atraso</h4>
        <ul>
          <li *ngFor="let s of listaAtraso">
            <div class="row">
              <div class="col-8">
                <label>Paciente: {{s.nomePaciente}} </label>
                <br />
                <div *ngIf="s.dependentes.length > 0">
                  <label>Dependentes:</label>
                  <ul>
                    <li *ngFor="let d of s.dependentes">
                      <label>{{d}} </label>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

          </li>
        </ul>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <br />
</div>