<div class="pagePosto">
	<div class="painel">
		<form class="page">
			<h1 class="titulo">Encontre seu Posto</h1>
			<div class="nosso-padding form-group">
				<div class="col-md-3"></div>
				<div class="centralizado col-md-6">
					<div>
						<div>
							<!-- combo com as regiões -->
							<select [(ngModel)]="regiaoSelecionada" class="form-control" [ngModelOptions]="{standalone: true}" (ngModelChange)="getPostos()">
							<option selected="true" [ngValue]="0">Selecione a Região</option>							
							<option *ngFor="let c of Regioes" [ngValue]="c.cod">{{c.nome}}</option>
						  </select>

						</div>
						&nbsp;
						<div>
							<select [disabled]="regiaoSelecionada == 0" [(ngModel)]="postoSelecionado" class="form-control" [ngModelOptions]="{standalone: true}">
								
								<option selected="true" [ngValue]="0">Todos</option>						
								<option *ngFor="let c of Postos" [ngValue]="c.cod">{{c.nome}}</option>
							  </select>

						</div>
						&nbsp;

						<div>
							<!-- botão para exibir os detalhes -->
							<button [disabled]="postoSelecionado == 0" class="form-control btn btn-success button-margin" (click)="verDetalhes()">Continuar</button>

						</div>
					</div>


				</div>
				<div class="col-md-3"></div>
				<!-- painel com as informações individuias de cada posto -->
				&nbsp;
				<div class="painel" *ngIf="mostrarDetalhes">
					<div class="panel panel-default">
						<div class="panel-heading">
							<p>Nome: {{detalhesPosto.nome}}</p>
						</div>
						<div class="panel-body">
							<p>Região: {{detalhesPosto.regiao}}</p>
							<p>Endereço: {{detalhesPosto.endereco}}</p>
							<p>Telefones: {{detalhesPosto.telefones}}</p>
							<p>Horário Acolhimento: {{detalhesPosto.acolhimento}}</p>
							<p>Horário Farmácia: {{detalhesPosto.farmacia}}</p>
						</div>
					</div>
				</div>
				<!-- MAPA -->			
				<div id="map">
					<agm-map *ngIf "showMap" [latitude]="PositionMapLat" [longitude]="PositionMapLong" [zoom]="Zoom" [disableDefaultUI]="false"
					 [zoomControl]="false">
						<agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.latitude" [longitude]="m.latitude" [markerDraggable]="false">
							<agm-info-window>
								<strong>{{m.nomePosto}}</strong>
							</agm-info-window>
						</agm-marker>
					</agm-map>
				</div>
			</div>
		</form>
	</div>
</div>