<div class="animated fadeIn">
  <br />
  <div class="row">
    <div class="col-3"></div>
    <div class="form-control col-6" style="height:auto !important;">
      <div class=" mb-3">
        <label style="float: left;">Nome Completo: </label>
        <input type="text" class="form-control" [(ngModel)]="dependente.nome" placeholder="Nome completo">
      </div>
      <div class="mb-3">
        <label style="float: left;">Data de Nascimento: </label>

        <input type="date" name="currentDate" [ngModel]="dependente.datanascimento | date:'yyyy-MM-dd'" class="form-control"
          [(ngModel)]="dependente.datanascimento">
      </div>

      <div class=" mb-3">
        <label style="float: left;">CPF: </label>
        <input type="text" class="form-control" [(ngModel)]="dependente.cpf" (ngModelChange)="CPFMask()" placeholder="CPF">
        <small>Digite apenas os números.</small>
      </div>

      <div class="row">

        <div class="col-12 mb-3" *ngIf="!isEditando">
          <button class="btn btn-primary" style="float:right" (click)=" cadastrar()"> Cadastrar </button>
        </div>
        <div class="col-12 mb-3" *ngIf="isEditando" style="text-align: right;">
          <button class="btn btn-primary" (click)=" salvar()"> Salvar </button>
          &nbsp;
          <button class="btn btn-danger" (click)=" cancelar()"> Cancelar </button>

        </div>
      </div>

    </div>
    <div class="col-3"></div>
  </div>
  <br />
  <div class="row" *ngIf="listaDepedentes.length == 0">
    <div class="col-3"></div>

    <div class="form-control col-6" style="height:auto !important;">
      <div style="text-align: center; ">
        <i class="fa fa-exclamation fa-lg mt-4"></i>
      </div>
      <div style="text-align: center; ">
        <label><strong>Não existem dependentes cadastrados.</strong></label>
      </div>

    </div>
    <div class="col-3"></div>
  </div>

  <div class="row" *ngIf="listaDepedentes.length > 0 && !isEditando">
    <div class="col-3"></div>
    <div class="form-control col-6" style="height:auto !important;">
      <ul>
        <li *ngFor="let dp of listaDepedentes">
          <div class="row">
            <div class=" col-6">
              <label>Nome: {{dp.nome}} </label>
              <br />
              <label>CPF: {{dp.cpf}} </label>
              <br />
              <label>Data de Nascimento: {{dp.datanascimento}} </label>
            </div>
            <div class="col-6" style="text-align:end;">
              <button class="btn btn-primary" title="Remover" (click)=" editarDependente(dp)"> <i class="fa fa-pencil"></i></button>
              &nbsp;
              <button class="btn btn-danger" title="Remover" (click)=" deletarDependente(dp._id)"> <i class="fa fa-trash"></i></button>
            </div>
          </div>

        </li>
      </ul>
    </div>
    <div class="col-3"></div>
  </div>
</div>