<div class="animated fadeIn">
  <br/>
  <div class="row">
    <div class="col-3"></div>
    <div class="form-control col-6" style="height:auto !important;">
      <div class=" mb-3">
        <label style="float: left;">Nome Completo: </label>
        <input type="text" class="form-control" [(ngModel)]="dependente.nome" placeholder="Nome completo">
      </div>
      <div class="mb-3">
        <label style="float: left;">Data de Nascimento: </label>

        <input type="date" class="form-control" [(ngModel)]="dependente.dataNacimento" placeholder="Data de nascimento">
      </div>

      <div class=" mb-3">
        <label style="float: left;">CPF: </label>
        <input type="text" class="form-control" [(ngModel)]="dependente.cpf" (ngModelChange)="CPFMask()" placeholder="CPF">
        <small>Digite apenas os números.</small>
      </div>

      <div class="row">

        <div class="col-12 mb-3">
          <button class="btn btn-primary" style="float:right" (click)=" cadastrar()"> Salvar </button>
        </div>
      </div>

    </div>
    <div class="col-3"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-3"></div>
    <div class="form-control col-6" style="height:auto !important;">
      <ul>
        <li *ngFor="let dp of listaDepedentes">
          <label>Nome: {{dp.nome}} </label>
          <br/>
          <label>CPF: {{dp.nome}} </label>
          <br/>
          <label>Data de Nascimento: {{dp.datanascimento}} </label>
        </li>
      </ul>
    </div>
    <div class="col-3"></div>
  </div>
</div>