<div class="animated fadeIn">
  <div class="row">
    <div class="card col-md-6 mt-5 mr-0">
      <div class="card-body">
        <h1>Vacinação - Anote na agenda</h1>
        <img class="imgNoticia" src="../../../assets/vacinação.jpg" />
      </div>
      <div class="card-footer clicavel">
        <div>Crianças de 2 até 5 anos serão vacinadas neste sábado 29/09. Traga seu filho!</div>
      </div>
    </div>
    <div class="card col-md-6 mt-5">
      <div class="card-body">
        <h1>De olho no prato</h1>
        <img class="imgNoticia" src="../../../assets/alimentacaoSaudavel.jpg" />
      </div>
      <div class="card-footer clicavel" (click)="mostraAlert();">
        <div>Você saberia dizer se está se alimentando de forma saudável?</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-6 mt-3 mr-0">
      <div class="card-body">
        <h1>Será que é gripe?</h1>
        <img class="imgNoticia" src="../../../assets/gripe.jpg" />
      </div>
      <div class="card-footer clicavel">
        <div>Saiba como diferenciar gripe de resfriado, e as principais formas de prevenção. </div>
      </div>
    </div>
    <div class="card col-md-6 mt-3">
      <div class="card-body">
        <h1>Corpo em movimento</h1>
        <img class="imgNoticia" src="../../../assets/atividadeFisica.png" />
      </div>
      <div class="card-footer clicavel">
        <div>O corpo humano precisa se movimentar, até mesmo na melhor idade</div>
      </div>
    </div>
  </div>
</div>
